<div class="center jumbotron">
  <h1>Test Buil App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Jangan Di Pencet!", jangan_path, class: "btn btn-lg btn-primary" %>
</div>

<a href="https://www.karir.com"><img alt="Rails logo" src="/assets/rails.png" /></a>
<br><br>
